.property-table {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0px auto;
    margin-top: 50px;
  }
  
  .property-table th,
  .property-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .property-table th {
    background-color: #f2f2f2;
  }
  
  .property-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .property-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  

  /* ViewProperty.css */
.property-image {
    max-width: 100px; /* Adjust the width as needed */
    max-height: 100px; /* Adjust the height as needed */
    border-radius: 5px;
  }
  