.registration-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    height: 90%;
    /* overflow-x: scroll; */
  }

  .user{
    zoom: 0.9; 
  }

  .landlord{
    zoom: 0.8; 
  }


  
  /* .registration-modal::-webkit-scrollbar {
    display: none;
  } */
  .registration-modal h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button::before,
  .close-button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #333333;
  }
  
  .close-button::before {
    transform: rotate(45deg);
  }
  
  .close-button::after {
    transform: rotate(-45deg);
  }
  
  .close-button:hover::before,
  .close-button:hover::after {
    background-color: #999999;
  }
  